{% extends 'base.html.twig' %}

{% block title %}A propos {{parent()}}{% endblock %}

{% block body %}

    <h1 class="text-center">À PROPOS DE MOI</h1>

    <p style='max-width:70vw' class="text-center">Cuius neque data exiluit in numero numero adventum enim formidabatur enim sine celeri praedocti Calycadni nec in celeri salutis tamen est superior ruitura ferrum celeri vesania quisquam manus omnes pugnandi tamen et congredi nec fluminis et nec omnes agiliter speciem speciem adluit ponte undarum adventum et ponte neque fluminis praeterito exiluit sollemni manus fluminis tessera vesania speculationibus tessera militum nec superior et agiliter militum locavere sollemni murorum rectores numero enim adventum in rectores praeterito omnes pugnandi et murorum ponte fluminis celeri nec fidis armatos et procursu cuius exiluit neque celeri agiliter exiluit praeterito militum eduxere agiliter in quisquam vesania speciem.</p>

    <div>
        <div>
            <h3>Mot du jour {{ date }}</h3>
            <p class='text-center'>rectores numero enim adventum in rectores praeterito omnes pugnandi et murorum ponte fluminis celeri nec fidis armatos et procursu cuius exiluit neque celeri agiliter exiluit praeterito militum eduxere agiliter in quisquam vesania speciem.</p>
        </div>
        <img src='assets/images/about.png' alt='about'/>
    <div/>




{% endblock %}
